[user]
	email = miguelvps@gmail.com
	name = Miguel Serrano
[core]
	editor = vim
	autocrlf = input
	safecrlf = warn
	excludesfile = ~/.gitglobalignore
[pull]
	ff = only
[merge]
	tool = vimdiff
[color]
	ui = auto
