# http://www.gnu.org/software/bash/manual/bash.html#Command-Line-Editing

# Enable 8bit input
set meta-flag On
set input-meta On

# Turns off 8th bit stripping
set convert-meta Off

# Keep the 8th bit for display
set output-meta On

set bell-style none
set completion-ignore-case on
set editing-mode emacs # vi or emacs
set print-completions-horizontally on
set show-all-if-ambiguous on


"\e[A":history-search-backward
"\e[B":history-search-forward
