! --------------------
! xrdb ~/.Xresources |
! --------------------

#define FONT Consolas:size=10

! Xft settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.dpi: 120
Xft.antialias: 1
Xft.rgba: rgb


! xterm
xterm*faceName: FONT
xterm*bellIsUrgent: true


! rxvt-unicode
URxvt*font: xft:FONT
URxvt*scrollBar: false
URxvt*pointerBlank: true
URxvt*urgentOnBell: true
! clickable urls
URxvt*perl-ext-common: default,matcher
URxvt*url-launcher: chromium
URxvt.matcher.button: 1


! Colors
! 0=black, 1=red, 2=green, 3=yellow, 4=blue, 5=magenta, 6=cyan, 7=white
#include "/home/miguel/.colors/xoria256"
!#include "/home/miguel/.colors/axoria256"
